main{
display : flex;
flex-direction: row;
flex-wrap : wrap;
justify-content: space-around;}

header, nav, footer{
    text-align: center;
}

footer{
    display : flex;
    flex-direction: row; 
    flex-wrap : wrap;
    justify-content: space-around;
}

aside{
    margin-top: 100px;
}
