#id_formulario {
    text-align: center;
    background-color: #212529;
    color: white;
}

#id_luna {
    text-align: center;
    background-color: #212529;
    color: black;
}
#id_texto1 {
    text-align: center;
    color: black;
}