main{
display : flex;
flex-direction: row;
flex-wrap : wrap;
justify-content: space-around;}

header{
    margin-left: 600px;
}

footer{
    margin-left: 600px;
}

main{
    display : flex; 
    flex-direction: column;
}


