p{
    display: inline-flex;
}

p{
    display: inline-flex;
    flex-direction: column;
}

p{
    display: flex;
    flex-direction:  row-reverse;
    align-items: flex-end;
}

p{
    background-color:cornsilk;
}