/*a
section{
    display: flex;
}*/

/*b
section{
    display: inline-flex;
    flex-direction: column;
}*/


section{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

p{
    background-color: aqua;  
}
