.p2{
    color: white;
    text-align: center;
    /*animation:mianimaciontxt 1s ease-in-out 0s infinite normal none;*/
    animation:mianimacion, 2.5s ease-in-out 0s infinite normal none;
}

@keyframes mianimacion{
    0% {
    background: red;
    }
    25% {
    background: blue;
    }
    50% {
    background: green;
    }
    100% {
        background: red;
    }
    }

@keyframes mianimaciontxt{
    0% {
    color: white;
    }
    25% {
    color: green;
    }
    50% {
    color: blue;
    }
    100% {
    color: white;
    }
    }
    
    