.p2 {

    animation: color 1s ease-in-out 0s infinite normal none;
    
}

@keyframes color{
    0% {
    background: red;
    transform: translate(0, 0);
    }

    50% {
    background: blue;
    transform: translate(200px, 0);
    }

    100% {
    background: green;
    transform: translate(200px, 200px);
    }
}  
