#marcoTabla {
    max-width: 1000px;
    min-height: 400px;

}

#tituloTabla,
#detallesModal {
    font-size: 18px;
}

#descripcionObjetivo{
    width: 255px;
}


#alertaDetalles {
    font-size: 15px;
}

.alertaExitoVisible {
    animation: cuadrado 1s linear 4s 1 alternate forwards;
}

@keyframes cuadrado {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }

}

td,tr,th {
    vertical-align: middle
}


